# Dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# Production builds
frontend/dist/
frontend/dist-ssr/

# Environment variables
frontend/.env
frontend/.env.local
frontend/.env.*.local
.env.vercel
.vercel

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
frontend/coverage/

# TypeScript
*.tsbuildinfo

# Config files (solo si son locales)
.config/
